
h1, h2, h3, h4, h5 {
  color:#fff;
    font-family: "BonvenoCF";
    }

.Bouldering_font {
  color: #fff;
  margin-bottom: 10px;
}

  header.masterhead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-colour: #ffffff;}

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
        margin-top: 50px;
    }

    .row2 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 10px;
    }

    .row3 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }


    .container {
      width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }

    .bg-primary {
      color: #fff;
      background-color: #607d8b;
    }

    .bg-equipment {
      background-color: #ff5722;
      color: #fff;
    }

.mb-auto, .my-auto {
    margin-bottom: auto!important;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
.Heading2  {color:#ffffff;
    background-color: #607d8b;
    font-size: 2.5em;
    font-family: "BonvenoCF"
    font-weight: bold;}
.Heading3  {color:#ffffff;
    background-color: #9e9e9e;
    font-size: 2.5em;
    font-family: "BonvenoCF"
    font-weight: bold;}
.Heading4  {color:#ffffff;
    background-color: #ff5722;
    font-size: 2.5em;
    font-family: "BonvenoCF"
    font-weight: bold;}
.Heading5  {color:#000000;
    background-color: #607d8b;
    font-size: 2.5em;
    font-family: "BonvenoCF"
    font-weight: bold;}.

.section {
  margin-top: 70px;
}


body {
  font-size:100%;
    color:#9e9e9e;
    background-image: url("../Images/Wall.jpg");
  }
p   {font-size:1.5em;
  color:#000000;}
.ul .li {
  color:#000000}
.ol .li {
  color:#000000}

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .imagecontainer:hover .image {
    opacity: 0.3;
  }

  .imagecontainer:hover .middle {
    opacity: 1;
  }



  .text {
  background-color: #ff5722;
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7 {
    {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4 {
  {
    position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  }

  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
  {
    position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  }
  .rotate90 {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }
